.board{
    background-color: #bbdefb;
    width: 500px;
    height: 500px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content:space-around;

    .card{
        margin: 10px;
        width: 80px;
        height: 80px;
        cursor: pointer;

        &-front{
            background-color: #8aacc8;
        }

        &-back{
            background-color: #eeffff;
            display: none;
        }
    }

    .completed{
        background-color: #087f23;
        cursor: default;
    }
}

.title{
    margin-bottom: 10px;

    .title-text{
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
}
